*.class

# Package Files #
*.jar
*.war
*.ear
target/*
node/*
node_modules/*
src/main/webapp/_res/node/*
.idea/*
*.iml
*.DS_Store
/target/
/bin/

# Eclipse Project Setting #
.classpath
.project
.settings/*
