html {
    font-size: 16px;
    font-weight: 500;
}

body {
    padding-top: 75px;
}

a {
    color: #666;
}

table {
    border-collapse: collapse;
    min-width: 50%;
    margin-bottom: 15px;
}

table tbody {
    overflow-x: auto;
}

tr{
    padding: 10px 0;
}

td {
    padding: 5px;
}

.container a {
    text-decoration: underline;
}
.container table a {
    text-decoration: none;
}

.navbar .container a {
    text-decoration: none;
}

.navbar .note {
    padding: 10px 2px 2px 0;
    float: right;
}

.navbar-dark .bg-dark label {
    color: #dddddd;
}

.table-striped  {
    border: 1px solid #CCCCCC;
}

.table-striped  colgroup,  .table-striped  th {
    border-bottom: 1px solid #CCCCCC;
}

.tablescroll_head th {
    background-color: #e0e0e0;
}

.table-striped th, .tablescroll_head th, .table-striped td, .tablescroll_head td {
    padding: 15px 20px 15px 20px;
}

.tablescroll_body td {
    padding: 15px 20px 15px 20px;
}

div.block {
    overflow: hidden;
    border: 1px solid #CCC;
}

div.block label, div.block .inner_block {
    width: 120px;
    display: block;
    float: left;
    text-align: left;
    margin: 8px 8px 8px 8px;
}

div.block .input {
    float: left;
    margin: 8px 8px 8px 8px;
}

.error, .error a {
    color: #b94a48;
}

.warning {
    font-weight: bold;
    color: #b8b60e;
}

.success {
    font-weight: bold;
    color: #008000;
}

.sort {
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../../img/bg.gif')
}

.asc {
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../../img/asc.gif')
}

.desc {
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../../img/desc.gif')
}

.ui-button {
    height: 22px;
}

div.term {
    margin: 10px;
    border: 1px solid #CCCCCC;
}

div.termwrapper {
    width: 145%;
    margin: 0 10px 0 10px;
}

div.termwrapper div h6 {
    margin: 8px 0 0 8px;
}

.term-header {
    font-size: 15px;
    white-space: nowrap;
}

.top_nav {
    padding: 0;
    list-style: none;
}

.top_nav_item {
    float: left;
    padding: 0 15px 0 0;
}

.run_cmd {
    background: #f0f0f0;
    border: 1px solid #cccccc;
}

.run_cmd_active {
    background: #555753;
    border: 1px solid #cccccc;
}

.run_cmd_active h6 {
    color: #f0f0f0;
}

.run_cmd {
    border-radius: 4px;
    margin: 5px;
    float: left;
}

.term {
    background-color: #000;
}

.term-header {
    cursor: move;
}

.top_link {
    float: left;
    padding: 0 0 10px 30px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.clear {
    clear: both;
}

.output {
    margin: 5px;
    z-index: 100;
}

.terminal {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    color: #000;
    line-height: 1.231;
}

.terminal pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    font-size: 12px;
    border: none;
    line-height: 1.231;
}

.reverse-video {
    color: #f0f0f0;
    background: #4d4d4d;
}

.note {
    font-style: italic;
    font-size: smaller;
}

.template {
    padding: 40px 15px;
}

.nav-img {
    float: left;
    margin-top: -10px;
    margin-left: -50px;
}

.navbar-brand {
    font-weight: bold;
}

.align_left {
    padding-left: 0;
    margin-left: 0;
}

.align_right {
    padding-right: 0;
    margin-right: 0;
}

.spacer {
    display: inline-block;
}

.spacer-middle {
    margin: 0 5px;
}

.spacer-left {
    margin: 0 5px 0 0;
}

.spacer-right {
    margin: 0 0 0 5px;
}

.spacer-top {
    margin: 0 0 5px 0;
}

.spacer-bottom {
    margin: 5px 0 0 0;
}

.alertContainer {
    margin-top: 25px;
}

a.btn {
    text-decoration: none;
}

.existing_key_label .alert, .new_key_label .alert {
    float: right;
    margin-right: 30px;
    padding: 6px 18px;
}

.scrollWrapperActive {
    overflow-y: scroll;
    height: 450px;
    display: inline-block;
}

.uploadScrollWrapperActive {
    overflow-y: scroll;
    height: 200px;
    display: inline-block;
}

.uploadScrollableTable {
    min-width: 600px;
}

.scrollableTable {
    min-width: 750px;
}

.scrollableTable th {
    background-color: #e0e0e0;
}

table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}

.show {
    display: block;
}

.hidden {
    display: none;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

.output .ui-icon {
    background-image: none;
}

.btn-secondary {
    color: #ffffff;
    background-color: #474949;
    text-shadow: none;
    border-color: #474949;
}

.btn-secondary:focus, .btn-secondary.focus {
    color: #ffffff;
    background-color: #2e2f2f;
    border-color: #080808;
}

.btn-secondary:hover {
    color: #ffffff;
    background-color: #2e2f2f;
    border-color: #292a2a;
}

.btn-secondary:active, .btn-secondary.active, .open > .dropdown-toggle.btn-secondary {
    color: #ffffff;
    background-color: #2e2f2f;
    background-image: none;
    border-color: #292a2a;
}

.btn-secondary:active:hover, .btn-secondary.active:hover, .open > .dropdown-toggle.btn-secondary:hover, .btn-secondary:active:focus, .btn-secondary.active:focus, .open > .dropdown-toggle.btn-secondary:focus, .btn-secondary:active.focus, .btn-secondary.active.focus, .open > .dropdown-toggle.btn-secondary.focus {
    color: #ffffff;
    background-color: #1c1d1d;
    border-color: #080808;
}

.btn-secondary.disabled:hover, .btn-secondary[disabled]:hover, fieldset[disabled] .btn-secondary:hover, .btn-secondary.disabled:focus, .btn-secondary[disabled]:focus, fieldset[disabled] .btn-secondary:focus, .btn-secondary.disabled.focus, .btn-secondary[disabled].focus, fieldset[disabled] .btn-secondary.focus {
    background-color: #474949;
    border-color: #474949;
}

.btn-secondary .badge {
    color: #474949;
    background-color: #ffffff;
}

.list-group a {
    text-decoration: none;
}

.modal-body .modal-content .row {
    width: 75%;
    margin-left: 15px;
}