body {
    padding-top: 50px;
}

a {
    color: #666;
}
table {
    border-collapse: collapse;
    font-size: small;
    min-width: 50%;
}

table tbody {
    overflow-x: auto;
}

.container a {
    text-decoration: underline;
}

.navbar .container a {
    text-decoration: none;
}
.navbar .note {
    padding: 10px 2px 2px 0;
    float: right;
}

form table {
    background-color: #FFF;
    min-width:10px;
}

form table input {
    padding: 2px;
}

form table td, form table th {
    padding: 5px;
}

table td, table th {
    vertical-align: middle;
    line-height: 1.42857;
    padding:10px;
}

.table-striped {
    border: 1px solid #CCCCCC;
}

.tablescroll_head th {
    background-color: #e0e0e0;
}

.table-striped th, .tablescroll_head th, .table-striped td, .tablescroll_head td {
    padding: 10px 15px 10px 10px;
}

.tablescroll_body td {
    padding: 10px 15px 10px 10px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border: 1px solid #DDD;
    line-height: 1.42857;
    padding: 10px;
    vertical-align: middle;
}

.table-striped td, .table-striped th, .tablescroll_head th {
    border: 1px solid #CCC;
    white-space: nowrap;
}


.table-striped td a, .table-striped th a, .tablescroll_head th a {
    white-space: nowrap;
}

.errorMessage, .errorMessage a {
    font-size: smaller;
    color: #cc0000;
    list-style-type: none;
}

.errorLabel {
    color: #cc0000;
}

form table label,
form table .label {
    font-size: small;
    font-weight: bold;
    color: #666;
    padding: 2px 2px 2px 2px;
}

div.block {
    overflow: hidden;
    border: 1px solid #CCC;
}

div.block label, div.block .inner_block {
    width: 120px;
    display: block;
    float: left;
    text-align: left;
    margin: 8px 8px 8px 8px;
}

div.block .input {
    float: left;
    margin: 8px 8px 8px 8px;
}

.error, .error a {
    font-weight: bold;
    color: #cc0000;
}

.warning {
    font-weight: bold;
    color: #b8b60e;
}

.success {
    font-weight: bold;
    color: #008000;
}

.sort {
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url("../../img/bg.gif")
}

.asc {
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url("../../img/asc.gif")
}

.desc {
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url("../../img/desc.gif")
}

.ui-button {
    height: 22px;
}

div.term {
    margin: 10px;
    border: 1px solid #CCCCCC;
}

div.termwrapper {
    width:98%;
    margin: 0 auto;
}

div.termwrapper div h6 {
    margin: 8px 0 0 8px;
}

.term-header {
    white-space: nowrap;
}

.top_nav {
    padding: 0;
    list-style: none;
}

.top_nav_item {
    float: left;
    padding: 0 15px 0 0;
}

.run_cmd {
    background: #f0f0f0;
    border: 1px solid #cccccc;
}

.run_cmd_active {
    background: #555753;
    border: 1px solid #cccccc;
}

.run_cmd_active h6 {
    color: #f0f0f0;
}

.run_cmd {
    border-radius: 4px;
    margin-top: 5px;
    float: left;
    width: 50%;
}

.term {
    background-color: #000;
}

.term-header {
    cursor:move;
}

.top_link {
    float: left;
    padding: 0 0 10px 30px;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

.clear {
    clear: both;
}

.errorsBg {
    background-color: #fdd;
    border: 1px solid red;
}

.errorMessage {
    padding: 0 8px;
}

.output {
    z-index: 100;
}

.terminal {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 12px;
    color: #000;
    background: #f0f0f0;
    line-height: 1.231;
}

.terminal pre {
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 12px;
    border: none;
    line-height: 1.231;
}

.terminal div {
    white-space: nowrap;
    height: 14px;
}

.reverse-video {
    color: #f0f0f0;
    background: #4d4d4d;
}

.note {
    font-style: italic;
    font-size: smaller;
}

.template {
    padding: 40px 15px;
}

.btn {
    padding: 5px;
}

.nav-img {
    float: left;
    margin-top: -10px;
    margin-left: -50px;
}

.navbar-brand {
    font-weight: bold;
}

.align_left {
    padding-left :0;
    margin-left :0;
}

.align_right {
    padding-right :0;
    margin-right :0;
}

.modal-body .row {
    padding-left:10px;
}

.modal-footer .btn {
    margin-bottom: 0;
    padding: 8px 12px;
}

.spacer {
    display: inline-block;
}

.spacer-middle {
    margin: 0 5px;
}

.spacer-left {
    margin: 0 5px 0 0;
}

.spacer-right {
    margin: 0 0 0 5px;
}

.spacer-top {
    margin: 0 0 5px 0;
}

.spacer-bottom {
    margin: 5px 0 0 0;
}

.alertContainer {
    margin-top: 25px;
}

a.btn {
    text-decoration: none;
}
.existing_key_label .alert, .new_key_label  .alert{
    float:right;
    margin-right:30px;
    padding:6px 18px;
}

.scrollWrapperActive {
    overflow-y: scroll;
    height:450px;
    display: inline-block;
}
.uploadScrollWrapperActive{
    overflow-y: scroll;
    height:200px;
    display: inline-block;
}

.uploadScrollableTable {
    min-width: 600px;
}
.scrollableTable {
    min-width: 700px;
}
.scrollableTable th {
    background-color: #e0e0e0;
}
table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #FFF;
}
.show {
    display: block;
}
.hidden {
    display: none;
    visibility: hidden;
}
.invisible {
    visibility: hidden;
}
